
body { background: transparent none no-repeat scroll left top; }
.wb_sbg { background: transparent url("../gallery_gen/75838d3526c744080a6e598ae72691b3.jpg") repeat-x scroll center top; }
body, .wb_sbg { min-width: 1200px; min-height: 0px; }
.wb_cont_inner { width: 1200px; }
.wb_cont_bg { width: 1200px; margin-left: -600px; }
.root { overflow: visible; min-height: 0px; }
#wb_element_instance76 { top: 0px; left: 0px; min-width: 1200px; width: 1200px; min-height: 60px; height: 60px; display: block; z-index: 194; }
#wb_element_instance76 ul { background: transparent none no-repeat scroll center top; border: 1px none #000000; }
#wb_element_instance76, #wb_element_instance76 ul { text-align: center; }
#wb_element_instance76 ul ul { background: transparent none repeat scroll center top; }
#wb_element_instance76 li { margin: 0px 5px 0px 5px; }
#wb_element_instance76 li a { text-transform: uppercase; border: 0px none #000000; padding: 20px 30px 24px 30px; font: normal normal 14px 'Roboto',sans-serif; text-decoration: none; color: #ffffff; line-height: 16px; background: transparent none repeat scroll center top; }
#wb_element_instance76 li.over > a, #wb_element_instance76 li:focus > a { border: 0px none #000000; font: normal normal 14px 'Roboto',sans-serif; text-decoration: none; color: #ffffff; line-height: 16px; background: #f75d4e none repeat scroll left top; }
#wb_element_instance76 li.active > a { border: 0px none #000000; font: normal normal 14px 'Roboto',sans-serif; text-decoration: none; color: #ffffff; line-height: 16px; background: #f75d4e none repeat scroll left top; }
#wb_element_instance76:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance76:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance76:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance77 { top: 40px; left: 0px; min-width: 480px; width: 480px; min-height: 24px; height: 24px; display: block; z-index: 195; }
#wb_element_instance78 { top: 40px; left: 980px; min-width: 112px; width: 112px; min-height: 45px; height: 45px; display: block; z-index: 194; }
#wb_element_instance78 img { width: 112px; height: 45px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance79 { top: 20px; left: 0px; display: block; z-index: 9000; }
#wb_element_instance80 { top: 105px; left: 0px; display: block; z-index: 9999; }


#wb_element_instance77 p:last-child { margin-bottom: 0; }


@media (min-width: 768px) {
}

@media (min-width: 992px) {
}
