
#wb_header { height: 60px; }
#wb_header > .wb_cont_bg { background: transparent none repeat scroll left top; }
#wb_main { height: 904px; }
#wb_main > .wb_cont_bg { background: transparent none repeat scroll left top; }
#wb_footer { height: 90px; }
#wb_footer > .wb_cont_bg { background: transparent none no-repeat scroll center bottom; }
body { background: transparent none no-repeat scroll left top; }
.wb_sbg { background: transparent url("../gallery_gen/75838d3526c744080a6e598ae72691b3.jpg") repeat-x scroll center top; }
body, .wb_sbg { min-width: 1200px; min-height: 1054px; }
.wb_cont_inner { width: 1200px; }
.wb_cont_bg { width: 1200px; margin-left: -600px; }
.root { height: 1054px; overflow: visible; min-height: 1054px; }
#wb_element_instance27 { top: 0px; left: 0px; min-width: 1200px; width: 1200px; min-height: 60px; height: 60px; display: block; z-index: 194; }
#wb_element_instance27 ul { background: transparent none no-repeat scroll center top; border: 1px none #000000; }
#wb_element_instance27, #wb_element_instance27 ul { text-align: center; }
#wb_element_instance27 ul ul { background: transparent none repeat scroll center top; }
#wb_element_instance27 li { margin: 0px 5px 0px 5px; }
#wb_element_instance27 li a { text-transform: uppercase; border: 0px none #000000; padding: 20px 30px 24px 30px; font: normal normal 14px 'Roboto',sans-serif; text-decoration: none; color: #ffffff; line-height: 16px; background: transparent none repeat scroll center top; }
#wb_element_instance27 li.over > a, #wb_element_instance27 li:focus > a { border: 0px none #000000; font: normal normal 14px 'Roboto',sans-serif; text-decoration: none; color: #ffffff; line-height: 16px; background: #f75d4e none repeat scroll left top; }
#wb_element_instance27 li.active > a { border: 0px none #000000; font: normal normal 14px 'Roboto',sans-serif; text-decoration: none; color: #ffffff; line-height: 16px; background: #f75d4e none repeat scroll left top; }
#wb_element_instance27:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance27:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance27:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance28 { top: 40px; left: 0px; min-width: 480px; width: 480px; min-height: 24px; height: 24px; display: block; z-index: 195; }
#wb_element_instance29 { top: 40px; left: 980px; min-width: 112px; width: 112px; min-height: 45px; height: 45px; display: block; z-index: 194; }
#wb_element_instance29 img { width: 112px; height: 45px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance30 { top: 20px; left: 0px; min-width: 1200px; width: 1200px; min-height: 82px; height: 82px; display: block; z-index: 62; }
#wb_element_instance31 { top: 160px; left: 0px; min-width: 250px; width: 250px; min-height: 250px; height: 250px; display: block; z-index: 63; }
#wb_element_instance31 img { width: 250px; height: 250px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance32 { top: 500px; left: 0px; min-width: 1200px; width: 1200px; min-height: 20px; height: 20px; display: block; z-index: 65; }
#wb_element_instance33 { top: 430px; left: 310px; min-width: 250px; width: 250px; min-height: 60px; height: 60px; display: block; z-index: 70; }
#wb_element_instance34 { top: 430px; left: 0px; min-width: 250px; width: 250px; min-height: 60px; height: 60px; display: block; z-index: 72; }
#wb_element_instance35 { top: 430px; left: 950px; min-width: 250px; width: 250px; min-height: 60px; height: 60px; display: block; z-index: 73; }
#wb_element_instance36 { top: 160px; left: 310px; min-width: 250px; width: 250px; min-height: 250px; height: 250px; display: block; z-index: 74; }
#wb_element_instance36 img { width: 250px; height: 250px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance37 { top: 160px; left: 630px; min-width: 250px; width: 250px; min-height: 250px; height: 250px; display: block; z-index: 75; }
#wb_element_instance37 img { width: 250px; height: 250px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance38 { top: 160px; left: 950px; min-width: 250px; width: 250px; min-height: 250px; height: 250px; display: block; z-index: 76; }
#wb_element_instance38 img { width: 250px; height: 250px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance39 { top: 430px; left: 630px; min-width: 250px; width: 250px; min-height: 60px; height: 60px; display: block; z-index: 77; }
#wb_element_instance40 { top: 540px; left: 0px; min-width: 1200px; width: 1200px; min-height: 364px; height: 364px; display: block; z-index: 78; }
#wb_element_instance41 { top: 798px; left: 0px; display: block; z-index: 9000; }
#wb_element_instance42 { top: 105px; left: 0px; display: block; z-index: 9999; }


#wb_element_instance28 p:last-child { margin-bottom: 0; }
#wb_element_instance30 p:last-child { margin-bottom: 0; }
#wb_element_instance32 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 1px solid #f75d4e;; }
#wb_element_instance33 p:last-child { margin-bottom: 0; }
#wb_element_instance34 p:last-child { margin-bottom: 0; }
#wb_element_instance35 p:last-child { margin-bottom: 0; }
#wb_element_instance39 p:last-child { margin-bottom: 0; }
#wb_element_instance40 p:last-child { margin-bottom: 0; }


@media (min-width: 768px) {
}

@media (min-width: 992px) {
}
