
#wb_header { height: 207px; }
#wb_header > .wb_cont_bg { background: transparent none repeat scroll left top; }
#wb_main { height: 2710px; }
#wb_main > .wb_cont_bg { background: transparent none repeat scroll left top; }
#wb_footer { height: 90px; }
#wb_footer > .wb_cont_bg { background: transparent none repeat-x scroll center bottom; }
body { background: transparent url("../gallery_gen/564ade9a98604058dea7e0943fc567de.jpg") no-repeat scroll center top; }
.wb_sbg { background: transparent url("../gallery_gen/75838d3526c744080a6e598ae72691b3.jpg") repeat-x scroll center top; }
body, .wb_sbg { min-width: 1200px; min-height: 3007px; }
.wb_cont_inner { width: 1200px; }
.wb_cont_bg { width: 1200px; margin-left: -600px; }
.root { height: 3007px; overflow: visible; min-height: 3007px; }
#wb_element_instance56 { top: 0px; left: 0px; min-width: 1200px; width: 1200px; min-height: 60px; height: 60px; display: block; z-index: 194; }
#wb_element_instance56 ul { background: transparent none no-repeat scroll center top; border: 1px none #000000; }
#wb_element_instance56, #wb_element_instance56 ul { text-align: center; }
#wb_element_instance56 ul ul { background: transparent none repeat scroll center top; }
#wb_element_instance56 li { margin: 0px 5px 0px 5px; }
#wb_element_instance56 li a { text-transform: uppercase; border: 0px none #000000; padding: 20px 30px 24px 30px; font: normal normal 14px 'Roboto',sans-serif; text-decoration: none; color: #ffffff; line-height: 16px; background: transparent none repeat scroll center top; }
#wb_element_instance56 li.over > a, #wb_element_instance56 li:focus > a { border: 0px none #000000; font: normal normal 14px 'Roboto',sans-serif; text-decoration: none; color: #ffffff; line-height: 16px; background: #f75d4e none repeat scroll left top; }
#wb_element_instance56 li.active > a { border: 0px none #000000; font: normal normal 14px 'Roboto',sans-serif; text-decoration: none; color: #ffffff; line-height: 16px; background: #f75d4e none repeat scroll left top; }
#wb_element_instance56:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance56:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance56:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance57 { top: 40px; left: 0px; min-width: 480px; width: 480px; min-height: 24px; height: 24px; display: block; z-index: 195; }
#wb_element_instance58 { top: 40px; left: 980px; min-width: 112px; width: 112px; min-height: 45px; height: 45px; display: block; z-index: 194; }
#wb_element_instance58 img { width: 112px; height: 45px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance59 { top: 2210px; left: 0px; min-width: 1200px; width: 1200px; min-height: 500px; height: 500px; display: block; z-index: 154; }
#wb_element_instance59 > .wb_shp { background: #f75d4e none repeat scroll left top; background-size: auto auto; border: 0px solid #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 1200px; height: 500px; }
#wb_element_instance60 { top: 2218px; left: 10px; min-width: 1180px; width: 1180px; min-height: 82px; height: 82px; display: block; z-index: 160; }
#wb_element_instance61 { top: 2330px; left: 310px; min-width: 590px; width: 590px; min-height: 234px; height: 234px; display: block; z-index: 162; }
#wb_element_instance62 { top: 2590px; left: 150px; min-width: 64px; width: 64px; min-height: 64px; height: 64px; display: block; z-index: 165; }
#wb_element_instance62 img { width: 64px; height: 64px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance63 { top: 2590px; left: 230px; min-width: 64px; width: 64px; min-height: 64px; height: 64px; display: block; z-index: 166; }
#wb_element_instance63 img { width: 64px; height: 64px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance64 { top: 2590px; left: 310px; min-width: 64px; width: 64px; min-height: 64px; height: 64px; display: block; z-index: 167; }
#wb_element_instance64 img { width: 64px; height: 64px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance65 { top: 2590px; left: 390px; min-width: 64px; width: 64px; min-height: 64px; height: 64px; display: block; z-index: 168; }
#wb_element_instance65 img { width: 64px; height: 64px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance66 { top: 500px; left: 420px; min-width: 350px; width: 350px; min-height: 20px; height: 20px; display: block; z-index: 149; }
#wb_element_instance67 { top: 560px; left: 70px; min-width: 1030px; width: 1030px; min-height: 620px; height: 620px; display: block; z-index: 169; }
#wb_element_instance67 .wb-store-item { max-width: 200px; }
#wb_element_instance67 .wb-store-thumb { width: 200px; height: 200px; border: 1px solid #eeeeee; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; }
#wb_element_instance67 .wb-store-image { max-width: 300px; max-height: 300px; border: 1px solid #eeeeee; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; }
#wb_element_instance67 .wb-store-thumb .wb-store-nothumb { margin-top: 76px; }
#wb_element_instance67 .wb-store-image .wb-store-nothumb { margin-top: 126px; }
#wb_element_instance67 .wb-store-name,#wb_element_instance67 .wb-store-name a { font: normal bold 13px Arial,Helvetica,sans-serif; color: #000000; text-decoration: none; text-align: left; }
#wb_element_instance67 .wb-store-pcats { font: normal bold 13px Arial,Helvetica,sans-serif; color: #000000; text-decoration: none; text-align: left; }
#wb_element_instance67 .wb-store-sku { font: normal bold 13px Arial,Helvetica,sans-serif; color: #000000; text-decoration: none; text-align: left; }
#wb_element_instance67 .wb-store-price { font: normal normal 13px Arial,Helvetica,sans-serif; color: #000000; text-decoration: none; text-align: left; }
#wb_element_instance67 .wb-store-desc { font: normal normal 13px Arial,Helvetica,sans-serif; color: #000000; text-decoration: none; }
#wb_element_instance67 .wb-store-field { font: normal normal 13px Arial,Helvetica,sans-serif; color: #000000; text-decoration: none; }
#wb_element_instance67 .wb-store-label { font: normal normal 13px Arial,Helvetica,sans-serif; color: #000000; text-decoration: none; }
#wb_element_instance67 .wb-store-cart-table td { font: normal bold 13px Arial,Helvetica,sans-serif; color: #000000; text-decoration: none; text-align: left; }
#wb_element_instance67 .wb-store-cart-table th { font: normal normal 13px Arial,Helvetica,sans-serif; color: #000000; text-decoration: none; }
#wb_element_instance67 .wb-store-properties .wb-store-name, #wb_element_instance67 .wb-store-properties .wb-store-pcats, #wb_element_instance67 .wb-store-properties .wb-store-sku, #wb_element_instance67 .wb-store-properties .wb-store-price { text-align: left; }
.wb-store-drag-helper { background: #ffffff; border: 1px solid #eeeeee; padding: 4px; opacity: 0.7; }
.wb-store-list { text-align: center; }
#wb_element_instance69 { top: 2332px; left: 0px; display: block; z-index: 9000; }
#wb_element_instance70 { top: 105px; left: 0px; display: block; z-index: 9999; }


#wb_element_instance57 p:last-child { margin-bottom: 0; }
#wb_element_instance60 p:last-child { margin-bottom: 0; }
#wb_element_instance61 p:last-child { margin-bottom: 0; }
#wb_element_instance66 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 2px solid #f75d4e;; }


@media (min-width: 768px) {
}

@media (min-width: 992px) {
}
